@page
@using Microsoft.AspNetCore.Mvc.RazorPages

@{
    Layout = "_Layout";
    ViewData["Title"] = "About";
}


    <h2>&nbsp;&nbsp;&nbsp;About</h2>
    <div class="col-md-8">
        <p>The .NET Nepal is an independent organization to foster open development and collaboration around the .NET ecosystem. It serves as a forum for community and commercial developers alike to broaden and strengthen the future of the .NET ecosystem by promoting openness and community participation to encourage innovation.</p>
        <p>See our <a href="/blog">Blog</a>&nbsp;and <a href="/faq">FAQ</a>&nbsp;for more information and join in the conversations on our <a href="http://forums.dotnetweb.web.org/">forums</a>. You can also c<span>heck out&nbsp;</span><a href="/projects?type=project">the projects</a><span> and meet the </span><a href="/team"><span color="#61007f">key people</span></a><span>&nbsp;behind the .NET Foundation.</span></p>
        <h3>What We Do</h3>
        <p>The .NET Nepal supports .NET open source in a number of ways. We promote the broad spectrum of software available to .NET developers through NuGet.org, GitHub, Codeplex and other venues. We advocate for the needs of .NET open source developers in the community. We evangelize the benefits of the .NET platform to the wider community of developers and we promote the benefits of the open source model to developers already using .NET. The .NET Foundation also provides administration and support for a number of .NET open source projects assigned to the foundation.</p>
        <p>The .NET Nepal provides the following services in support of the projects assigned to it.&nbsp;If you run a project that is interested in joining the .NET Foundation&nbsp;then please take a look our&nbsp;<a href="https://github.com/dotnet/home/blob/master/guidance/new-projects.md">New Project Checklist</a></p>
           </div>
  
