@page
@using Microsoft.AspNetCore.Mvc.RazorPages

@{
    Layout = "_Layout";
    ViewData["Title"] = "Team";
}


    <div class="row">
        <h1>Meet the team</h1>

        <div class="row">
            <div class="col-md-3">
                <img class="rounded-image" alt="ProfilePicture" src="~/images/david.jpg"/>
                <h6 class="col-md-3-name">David Silwal</h6>
                <span>
                    <a href="https://twitter.com/davidsilwal"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                </span>
                <span>
                    <a href="mailto:de.davidsilwal@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a>
                </span>
                <div class="col-md-3-body">
                    I'm <strong>David Silwal</strong>, Application Developer.
                </div>
            </div>

            <div class="col-md-3">
                <img class="rounded-image" alt="ProfilePicture" src="">
                 </div>

            <div class="col-md-3">
                       </div>
            <div class="col-md-3">
                       </div>
        </div>

    
    </div>
