@import 'color.scss';
@import 'btn.scss';

.sec-title {
    text-transform: uppercase;
    text-align: center;
    color: $blue;
    font-weight: 500;
    font-size: 2.5rem;
}

.sec-hr {
    text-align: center;
    width: 25%;
    margin: auto;
    margin-bottom: 20px;
    border: 2px solid $blue;
}

.wrap-hero {
    min-height: 100% !important;
}
/*who we*/
#whowe {
    // background-color:$yellow;
    background-image: url(../images/backgrounds/greenblue.png);
    background-position: center;
    background-size: cover;
    //transform:rotate(-15deg) translate(a);
    .whowe-content {
        padding-bottom: 20px;
        // transform:rotate(15deg);
        .whowe-detail {
            text-align: center;
            font-weight: lighter;
            font-size: 2rem;
            text-align: justify;
            text-align-last: center;

            a {
                margin-top: 10px;
                text-align: center;
            }
        }
    }
}

/*who we*/

/*whatwe*/
#whatwe {
    background: $green;
    padding: 15px 0;
    min-height: 100%;

    .sec-title {
        color: white;
    }

    .sec-hr {
        border-color: white;
    }

    .whatwe-content {
        .descript {
            display: flex;
            justify-content:center;
            align-items:center;
            &:before{
                content:'';
                border:1px solid red;
            }
            .descriptbox {
                height: 100px;
                width: 100px;
                border-radius: 5px;
                margin-left: 15px;
                padding: 15px;
                padding-bottom: 0;
                // background: white;
                color: white;
                display: flex;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border: 1px solid white;

                .learn {
                    background: url(../images/backgrounds/open-book.svg);
                    background-repeat: no-repeat;
                    padding: 25px;
                    filter: invert(90%);
                    //filter:drop-shadow(16px 16px 20px black);
                }

                .share {
                    background-repeat: no-repeat;
                    padding: 25px;
                    background: url(../images/backgrounds/share.svg);
                    filter: invert(90%);
                }

                .collab {
                    background-repeat: no-repeat;
                    padding: 25px;
                    background: url(../images/backgrounds/network.svg);
                    filter: invert(90%);
                }

                .repeat {
                    background-repeat: no-repeat;
                    padding: 25px;
                    background: url(../images/backgrounds/refresh.svg);
                    filter: invert(90%);
                }

                p {
                    font-size: 2rem;
                }
            }
        }
    }
}
/*whatwe*/
/*news blog*/
#newsblog {
    background: $green;
    padding: 15px 0;

    .nb-title {
        color: white;
    }
}

.media {
    color: #e8e8e8;

    .media-body {
        .media-heading {
            a {
                color: white;
            }
        }
    }
}
/*news blog*/
/*joinus*/
#joinus {
    padding: 20px;
    background-color: $green;
    // background:url(../images/backgrounds/sunrise.jpeg);
    background-position-y: 50%;
    margin-bottom: -30px;
    min-height: 180px;
    display: flex;
    align-items: center;

    .content {
        text-align: center;
        font-size: 25px;
        font-weight: lighter;
        color: white;
        /*span{
            padding:10px 15px;
            background:$yellow;
        }*/
        button {
            margin-top: 10px;
        }
    }
}
/*joinus*/
/*supporter*/
#supporters {
    .sup-content {
        .content-title {
            font-size: 3rem;
        }

        .content-body {
            padding: 15px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            a {
                margin: 0 15px;
                margin-bottom: 15px;
                flex-basis: auto;
                text-decoration: none;

                img {
                    height: 150px;
                    border-radius: 50%;
                }

                .name {
                    text-align: center;
                    font-size: 2rem;
                    color: $green;
                    padding-top: 10px;

                    &:hover {
                        color: rgba(0,0,0,0.5);
                    }
                }
            }
        }
    }
}
/*supporter*/
